[submodule "themes/bookworm"]
	path = themes/bookworm
	url = https://github.com/gethugothemes/bookworm-light.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
